@font-face {
  font-family: 'custom-cursive';
  src: url('/assets/allura/allura-regular.ttf');
}

#centred {
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#mainDatenightText {
/*  display: block; */
  width: 360px;
  margin: 0 auto;
  font-size: 100px;
  font-family: 'custom-cursive';
  text-shadow: 0 0 15px #B00;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mainDatenightText:hover {
  text-shadow: 0 0 30px #F00;
}

#subheadingText {
  /*display: block; */
  width: 351px;
  margin: 10px auto 0px;
  padding-left: 222px;
  font-size: 45px;
  font-family: 'custom-cursive';
  text-shadow: 0 0 8px #B00;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

#subheadingText:hover {
  text-shadow: 0 0 15px #F00;
}

.neonGlow {
  display: none;
  color: #300;
  -webkit-transition: text-shadow 0.3s;
  transition: text-shadow 0.3s;
  cursor: pointer;
}

a {
  text-decoration: none;
}

body {
  background-image: url('/assets/bg.gif');
  margin: 0px;
}
