#body {
  padding: 20px;
}

#infoDiv > div {
  width: 33%;
}

#dateDiv {
  float: left;
}

#howLongDiv {
  display: inline-block;
}

#budgetDiv {
  float: right;
}

span#budgetAmountDisplay {
  color: #f5f5f5;
}
