span {
  color: #f5f5f5;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  margin-left: 5px;
}

.questionContainerDiv {
  display:none;
}

#div1 {
  display: block;
}

#div1 h1 {
  display:inline-block; // To let the popup be in the right place
}

#popup {
  display:none;
}

#questions3 > label {
  display: inline-block;
}
